@using TotalFireSafety.Models
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/AdminLayout.cshtml";
    ViewBag.Dash = "active";
}

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Overview
        </h2>
        <right>
            <button class="create-req-btn" title="CREATE ORDER">
                <a onclick="openForm()">
                    Notification
                    <span class="las la-bell"></span>
                    <label class="notif-badge" id="badge">0</label>
                </a>
            </button>
        </right>
    </header>

    <main>

        <div class="dashboard-content">
            <div class="left">
                <!-- CHARTS -->
                <div class="recent-grid">
                    <div class="inventory-sum">
                        <div class="card">
                            <div class="card-header">
                                <h3>Item Summary</h3>

                                <div class="cat-grp">

                                    <!-- NEW UPDATE - DATE PICKER 04-16 -->

                                    <div class="date-drp" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; width: auto;">
                                        <i class="lar la-calendar-alt"></i>&nbsp;
                                        <span></span> <i class="las la-sort-down"></i>
                                    </div>

                                    <!-- END -->
                                    <select id="selcat" title="Select Category">
                                        <option disabled selected>Category</option>
                                        <option>All</option>
                                    </select>

                                    <select id="selclass" title="Select Class">
                                        <option disabled selected>Class</option>
                                        <option>All</option>
                                    </select>

                                    <select id="seltype" title="Select Type">
                                        <option disabled selected>Type</option>
                                        <option>All</option>
                                    </select>
                                </div>

                            </div>
                            <div class="chart-border">
                                <div class="chart">
                                    <canvas id="barchart" width="1200" height="300"></canvas>

                                </div>
                            </div>

                            <div class="card-headers">
                                <a href="@Url.Action("Inventory","Admin")"><button> See more <span class="las la-arrow-right"></span></button></a>

                                <div class="legend-grp">
                                    <div class="legend-content">

                                        <div class="legend-content-1">
                                            <div class="legend-color">

                                            </div>
                                            <label> Standard </label>
                                        </div>

                                        <div class="legend-content-2">
                                            <div class="legend-color">

                                            </div>
                                            <label> Average </label>
                                        </div>

                                        <div class="legend-content-3">
                                            <div class="legend-color">

                                            </div>
                                            <label> Critical </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="inventory-sum">
                        <div class="card">
                            <div class="card-header">
                                <h3>Item Supplies</h3>

                                <div class="fst-grp">

                                    <div class="radio-container">
                                        <div class="radio-list">
                                            <input type="radio" name="list" value="all" checked/>
                                            <label for=""><h3>All</h3></label>
                                        </div>

                                        <div class="radio-list">
                                            <input type="radio" name="list" value="fast"/>
                                            <label for=""><h3>Fast Paced Items</h3></label>
                                        </div>

                                        <div class="radio-list">
                                            <input type="radio" name="list" value="slow"/>
                                            <label for=""><h3>Slow Paced Items</h3></label>
                                        </div>
                                    </div>

                                    @*<select required>
                                        <option disabled selected>Item Class</option>
                                        <option>Imported</option>
                                        <option>Local</option>
                                    </select>*@
                                </div>

                            </div>

                            <div class="chart-borders">
                                <div class="chart">
                                    <div class="scatter">
                                        <canvas id="barcharthori" name="barcharthori" width="auto" height="auto"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="card-headers">
                                <div class="fst-legend-content">
                                    <div class="fst-content-1">

                                    </div>
                                    <label> Quantity </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <!-- CARDS -->
                <div class="cards">
                    <div class="card-title">
                        <a href="@Url.Action("Users","Admin")">
                            <h3>Users</h3>
                            <div class="card-single">
                                <div class="card-container">
                                    <h3>Users</h3>
                                    <div class="card-details">
                                        <label id="userLabel"></label><span>Total Employees</span>
                                        <p></p>
                                        <label class="card-active" id="actLabel"></label><span class="card-active">Active Users</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-title">
                        <a href="@Url.Action("Requisition","Admin")">
                            <h3>Purchase</h3>
                            <div class="card-single">
                                <div class="card-container">
                                    <h3>Purchase Request</h3>
                                    <div class="card-details">
                                        <label id="purLabel"></label><span>Total Entries</span>
                                        <p></p>
                                        <label class="card-active" id="actpurLabel" style="color: #FF0000 !important;"></label><span class="card-active" style="color: #FF0000 !important;">Pending Entries</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-title">
                        <a href="@Url.Action("Requisition","Admin")">
                            <h3>Deploy</h3>
                            <div class="card-single">
                                <div class="card-container">
                                    <h3>Deployment Request</h3>
                                    <div class="card-details">
                                        <label id="depLabel"></label><span>Total Entries</span>
                                        <p></p>
                                        <label class="card-active" id="actdepLabel" style="color: #FF0000 !important;"></label><span class="card-active" style="color: #FF0000 !important;">Pending Entries</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card-title">
                        <a href="@Url.Action("Requisition","Admin")">
                            <h3>Supply</h3>
                            <div class="card-single">
                                <div class="card-container">
                                    <h3>Supply Request</h3>
                                    <div class="card-details">
                                        <label id="supLabel"></label><span>Total Entries</span>
                                        <p></p>
                                        <label class="card-active" id="actsupLabel" style="color: #FF0000 !important;"></label><span class="card-active" style="color: #FF0000 !important;">Pending Entries</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="card-title">
                        <a href="@Url.Action("Inventory","Admin")">
                            <h3>Inventory</h3>
                            <div class="card-single">
                                <div class="card-container">
                                    <h3>Inventory</h3>
                                    <div class="card-details">
                                        <label id="itemLabel"></label><span>Total Items</span>
                                        <p></p>
                                        <label class="card-active" id="critLabel" style="color: #FF0000 !important;"></label><span class="card-active" style="color: #FF0000 !important;">Critical Items</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>


                    @*<div class="card-title">
                        <a href="../super-admin/operations/requisition/sa-deploy_requi.html">
                            <h3>Supply</h3>
                            <div class="card-sPurchingle">
                                <div class="card-container">
                                    <h3>Supply Request</h3>
                                    <div class="card-details">
                                        <label>30</label><span>Total Entries</span>
                                        <p></p>
                                        <label class="card-active">5</label><span class="card-active">New Entries</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>*@

                </div>

            </div>
        </div>









        <!-- Project Summary -->

        <div class="dsh-proj-grid">
            <div class="dsh-proj-sum">
                <div class="dsh-proj">
                    <div class="dsh-proj-header">
                        <h3>On-going Projects</h3>

                        @*<div class="dsh-proj-grp">
                            <select required>
                                <option disabled selected>Project Lead</option>
                                <option>Juan Dela Cruz</option>
                            </select>
                        </div>*@

                    </div>
                    <div class="chart-border">
                        <div class="chart">
                            <canvas id="barcharthorii" width="300" height="300"></canvas>

                        </div>
                    </div>

                    <div class="card-headers">
                    </div>

                </div>
            </div>

            <div class="dsh-proj-sum">
                <div class="dsh-proj">
                    <div class="dsh-proj-header">
                        <h3>Project Insights</h3>

                        <div class="date" style="display:none">
                            @*<h3>Year</h3>
                            <select required>
                                <option disabled selected></option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                            </select>*@
                        </div>
                    </div>

                    <div class="chart-borders">
                        <div class="chart">
                            <div class="scatter">
                                <div class="proj-insight-container">

                                    <div class="proj-row">
                                        <div class="proj-column-left left upper upper-left">
                                            <label class="top">Project Performance</label>
                                            <h3 id="perc"></h3>
                                            <label class="bottom">Tasks achieved <i class="las la-caret-up"></i></label>
                                        </div>
                                        <div class="proj-column-right upper">
                                            <h3 id="upcoming"></h3>
                                            <label>Total Upcoming <br> Projects</label>
                                        </div>
                                    </div>
                                    <div class="proj-row">
                                        <div class="proj-column-left mid-left">
                                            <h3 id="finished"></h3>
                                            <label>Finished <br> Projects</label>
                                        </div>
                                        <div class="proj-column-right mid-right">
                                            <h3 id="cancelled"></h3>
                                            <label>Cancelled<br> Projects</label>
                                        </div>
                                    </div>
                                    <div class="proj-row">
                                        <div class="proj-column-left title">
                                            <h3 id="total"></h3>
                                            <label>Total <br> Projects</label>
                                        </div>
                                        <div class="proj-column-right per">
                                            <h3 class="Up"></h3>
                                            <label> </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-headers">

                    </div>
                </div>
            </div>
        </div>
        <!-- END -->
    </main>
</div>
<script src="~/Scripts/js/chart1.js"></script>
<script src="~/Scripts/js/chart2.js"></script>
<script src="~/Scripts/js/chart3.js"></script>
<script src="~/Scripts/Dashboard.js"></script>
<script>

    async function OnLoad() {
        GetAll();
        //GetItems();
        GetDate();
        GetSupplies();
        await GetProjects();
        await GetProjsCards();
    }

    `use strict`;
    //function refreshTime() {
    //    const timeDisplay = document.getElementById("dt");
    //    const dateString = new Date().toLocaleString();
    //    const formattedString = dateString.replace(", ", " - ");
    //    timeDisplay.textContent = formattedString;
    //}
    //setInterval(refreshTime, 0);


    var dropdown = document.getElementsByClassName("oper-dropdown-bt");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

    // NEW UPDATE 03/04/23 - DATE CONTAINER IN DASHBOARD

    function openInputQTYForm() {
        document.getElementById("input-date-popup").style.display = "block";
    }

    function closeInputQTYForm() {
        document.getElementById("input-date-popup").style.display = "none";
    }

    /* When the user clicks on the button,
       toggle between hiding and showing the dropdown content */
    function yrFunction() {
        document.getElementById("yrDropdown").classList.toggle("yr-show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.yr-drop-btn')) {
            var myDropdown = document.getElementById("yrDropdown");
            if (myDropdown.classList.contains('yr-show')) {
                myDropdown.classList.remove('yr-show');
            }
        }
    }

    /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
    function mFunction() {
        document.getElementById("mDropdown").classList.toggle("m-show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.m-drop-btn')) {
            var myDropdown = document.getElementById("mDropdown");
            if (myDropdown.classList.contains('m-show')) {
                myDropdown.classList.remove('m-show');
            }
        }
    }

    /* When the user clicks on the button,
       toggle between hiding and showing the dropdown content */
    function dFunction() {
        document.getElementById("dDropdown").classList.toggle("d-show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.d-drop-btn')) {
            var myDropdown = document.getElementById("dDropdown");
            if (myDropdown.classList.contains('d-show')) {
                myDropdown.classList.remove('d-show');
            }
        }
    }

    // NEW UPDATE 03/04/23 - DATE CONTAINER IN DASHBOARD

    function openInputQTYForm() {
        document.getElementById("input-date-popup").style.display = "block";
    }

    function closeInputQTYForm() {
        document.getElementById("input-date-popup").style.display = "none";
    }


    //window.addEventListener("load", function () {
    //    setTimeout(
    //        function open(event) {
    //            document.querySelector('input-date-popup').style.display = "block";
    //        },
    //        1000
    //    )
    //});
</script>

<script type="text/javascript">
    $(function () {
        //.subtract(29, 'days')
        var start = moment();
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            localStorage.setItem("start", start.format('MMMM D, YYYY'));
            localStorage.setItem("end", end.format('MMMM D, YYYY'));
            localStorage.setItem("diff", end.diff(start, 'days'));
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            yearSelect: true, // Enable year selection
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'This Year': [moment().startOf('year'), moment().endOf('month')],
                'Last Year': [moment().startOf('year').subtract(1, 'years'), moment().endOf('year').subtract(1, 'years')],
            },
            "showDropdowns": true,
            "opens": "center",
            "showCustomRangeLabel": true,
        }, function (start, end, label) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            var diff = 0;
            if (label == "Yesterday") {
                diff = 1;
            }
            else {
                diff = end.diff(start, 'days');
            }
            localStorage.setItem("start", start.format('MMMM D, YYYY'));
            localStorage.setItem("end", end.format('MMMM D, YYYY'));
            localStorage.setItem("diff", diff);
        });

        cb(start, end);
        $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
            // Call your function here
            GetDate();
        });
    });
</script>
