
@{
    ViewBag.Title = "Requisition";
    Layout = "~/Views/AdminLayout.cshtml";
    ViewBag.Req = "active";
}

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Requisition
        </h2>
    </header>

    <main>

        <div class="upper-section">
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="text" placeholder="Search here" onkeyup="SearchItem(this.value)">
            </div>
        </div>

        <div class="purchase-grid">
            <div class="purchase-header">
                <h3>REQUEST LISTS</h3>
                <div class="purchase-buttons-style">
                    <!--NEW UPDATE -->
                    @if (Int32.Parse(Session["system_role"].ToString()) == 2)
                    {
                        <button class="create-req-btn" title="CREATE ORDER" onclick="addOpenPopupPur() + createRow() + EmployeeList()">
                            <a>
                                CREATE REQUEST
                                <span class="las la-file-alt"></span>
                            </a>
                        </button>
                    }
                    <button>
                        <a onclick="openForm()">
                            NOTIFICATION
                            <span class="las la-bell"></span>
                        </a>
                    </button>

                    <!-- NOTIFICATION CONTAINER -->

                    <div class="notif-popup" id="notifForm">
                        <div class="notif-container">


                            <div class="notif-list-container">
                                <label>
                                    There’s a new submitted Deployment Request with RequestID: DEPREQ12.
                                </label>
                                <a onclick="viewOpenForm() + closeForm()">View Details <span class="las la-long-arrow-alt-right"></span> </a>

                            </div>

                            <div class="notif-list-container">
                                <label>
                                    There’s a new submitted Deployment Request with RequestID: DEPREQ12.
                                </label>
                                <a onclick="viewOpenForm() + closeForm()">View Details <span class="las la-long-arrow-alt-right"></span> </a>

                            </div>

                            <div class="notif-list-container">
                                <label>
                                    There’s a new submitted Deployment Request with RequestID: DEPREQ12.
                                </label>
                                <a onclick="viewOpenForm() + closeForm()">View Details <span class="las la-long-arrow-alt-right"></span> </a>

                            </div>

                            <div class="notif-list-container">
                                <label>
                                    There’s a new submitted Deployment Request with RequestID: DEPREQ12.
                                </label>
                                <a onclick="viewOpenForm() + closeForm()">View Details <span class="las la-long-arrow-alt-right"></span> </a>

                            </div>
                            <div class="notif-list-container">
                                <label>
                                    There’s a new submitted Deployment Request with RequestID: DEPREQ12.
                                </label>
                                <a onclick="viewOpenForm() + closeForm()">View Details <span class="las la-long-arrow-alt-right"></span> </a>

                            </div>
                            <div class="notif-list-container">
                                <label>
                                    There’s a new submitted Deployment Request with RequestID: DEPREQ12.
                                </label>
                                <a onclick="viewOpenForm() + closeForm()">View Details <span class="las la-long-arrow-alt-right"></span> </a>

                            </div>
                            <div class="notif-list-container">
                                <label>
                                    There’s a new submitted Deployment Request with RequestID: DEPREQ12.
                                </label>
                                <a onclick="viewOpenForm() + closeForm()">View Details <span class="las la-long-arrow-alt-right"></span> </a>

                            </div>

                        </div>
                        <center>
                            <button type="button" class="close-btn" onclick="closeForm()"><i class="las la-times-circle"></i></button>
                        </center>
                    </div>

                    <!-- END -->
                    <!-- VEW NOTIFICATION CONTAINER -->

                    <div class="view-popup" id="viewForm">
                        <div class="view-container">

                            <a onclick="openForm() + viewCloseForm()"><span class="las la-long-arrow-alt-left"></span> Back </a>

                            <div class="view-list-container">
                                <center>
                                    <label>
                                        <h3>RequestID: DEPREQ12</h3>
                                    </label>
                                </center>

                            </div>

                            <div class="acc-container">

                            </div>
                        </div>
                        <center>

                            <button type="button" class="appr-btn" onclick="">
                                <a>
                                    Approve
                                    <span class="las la-check-circle"></span>
                                </a>
                            </button>

                            <button type="button" class="appr-btn" onclick="">
                                <a>
                                    Decline
                                    <span class="las la-times-circle"></span>
                                </a>
                            </button>
                        </center>
                    </div>

                    <!-- END -->

                    <select required>
                        <option disabled selected>FILTER</option>
                        <option>All</option>
                        <option>Local</option>
                        <option>Import</option>
                    </select>

                </div>

            </div>
            <div class="purchase-projects">
                <div class="purchase">
                    <div class="purchase-body">
                        <div class="table-responsive" style="overflow-x: auto;">
                            <table width="100%" id="myTable">
                                <thead>
                                    <tr>
                                        <td><a onclick="Sort(this,'Id')">Request ID<i class="las la-sort-down"></a></td>
                                        <td>Request Type</td>
                                        <td>Request Name</td>
                                        <td>Employee ID</td>
                                        <td>Date Requested</td>
                                        <td><a onclick="Sort(this,'request_status')">Status<i class="las la-sort-down"></a></td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="add-popup-pur" id="add-popup-pur">
            <div class="purchase-add-container">
                <div class="purchase-form-container">
                    <form action="" id="formId">
                        <div class="request-details">
                            <div class="purchase-form-header">
                                REQUEST DETAILS
                            </div>
                            <div class="purchase-form-contents">
                                <div class="fields">
                                    <div class="input-field wrap-input100 validate-input" data-validation>
                                        <label>
                                            <a>Name: </a><br />
                                            <input type="text" id="request_emp" oninput="setForm(this.value,'add')" list="itemList" name="request_emp" placeholder="Name" required>
                                            <datalist id="itemList">
                                            </datalist>
                                            <br />
                                            <label id="request_emp-error" class="error manual-error" for="request_emp"></label>
                                        </label>
                                    </div>
                                    <br />
                                    <div class="input-field wrap-input100 validate-input">
                                        <label id="reqtype">
                                            <a>Request Type: </a><br>
                                            <select style="height:40px;" onchange="setReqId(this.selectedIndex)" id="select_type" name="select_type" required>
                                                <option readonly value="">Choose Type</option>
                                                <option value="Deploy">Deploy</option>
                                                <option value="Purchase">Purchase</option>
                                                <option value="Supply">Supply</option>
                                            </select>
                                            <br />
                                            <label id="select_type-error" class="error manual-error" for="select_type"></label>
                                        </label>
                                    </div>
                                    <div class="input-field wrap-input100 validate-input">
                                        <label>Postion:<span id="position"></span></label>
                                    </div>
                                    <div class="input-field wrap-input100 validate-input">
                                        <label>Employee ID:<span id="employeeId"></span></label>
                                    </div>

                                    <div class="input-field wrap-input100 validate-input">
                                        <label>Request Date:<span id="reqdate"></span></label>
                                    </div>
                                    <div class="input-field wrap-input100 validate-input">
                                        <label>Request ID:<span id="reqid"></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="purchase-details">
                            <div class="purchase-form-header">
                                ITEM DETAILS
                            </div>
                            <br>
                            <div>
                                <label class="error" style="display:none;font-weight:bold" id="errorLabel"></label>
                            </div>
                            <div class="purchase-form-contents">
                                <div class="purchase-form-table">
                                    <div class="purchase-form-table-style">
                                        <div class="table-responsive" style="overflow-x:auto;">
                                            <table width="100%" id="formTable">
                                                <thead>
                                                    <tr>
                                                        <td>Item Name</td>
                                                        <td>Item Category</td>
                                                        <td>Item Size</td>
                                                        <td>Item Quantity</td>
                                                        <td>Item Type</td>
                                                        <td>Item Class</td>
                                                        <td>Action</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                    <center>
                        <div class="form-add-btns">
                            @*onclick="checkForm()"*@
                            <button class="save" id="saveBtn">
                                <span class="btnText">Save</span>
                                <i class="las la-check-square"></i>
                            </button>

                            <button class="cancel">
                                <span class="btnText" onclick="canOpenPopup()">Cancel</span>
                                <i class="las la-window-close"></i>
                            </button>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <input type="text" id="formType" style="display:none">
        <div class="info-pop-container" id="info-popup">
            <img src="@Url.Content("~/images/information.png")">
            <h2>System Warning!</h2>
            <p>Do you want to save employee's request?</p>
            <button type="button" onclick="saveRequest()">Yes</button>
            <button type="button" onclick="infoClosePopup()">Cancel</button>
        </div>

        <div class="save-pop-container" id="popup">
            <img src="@Url.Content("~/images/tick.png")">
            <h2>Accepted!</h2>
            <p>@Session["message"]</p>
            <button type="button" onclick="closePopup()">OK</button>
        </div>

        <div class="can-pop-container" id="can-popup">
            <img src="@Url.Content("~/images/warning.png")">
            <h2>System Warning!</h2>
            <p>Do you want to cancel any changes?</p>
            <button type="button" onclick="remOpenPopup() + canClosePopup() + addClosePopupPur() + resetForm()">Yes</button>
            <button type="button" onclick="canClosePopup()">Cancel</button>
        </div>

        <div class="rem-pop-container" id="rem-popup">
            <img src="@Url.Content("~/images/remove.png")">
            <h2>Deleted!</h2>
            <p>Request Discarded!</p>
            <button type="button" onclick="remClosePopup()">OK</button>
        </div>

        <div class="print-pop-container" id="print-popup">
            <img src="@Url.Content("~/images/printer.png")">
            <h2>Print!</h2>
            <p>Print successfully!</p>
            <button type="button" onclick="printClosePopup()">OK</button>
        </div>

        <div class="expo-pop-container" id="expo-popup">
            <img src="@Url.Content("~/images/export.png")">
            <h2>Export!</h2>
            <p>Exported Successfully!</p>
            <button type="button" onclick="expoClosePopup()">OK</button>
        </div>

    </main>
</div>
<script src='@Url.Content("~/Scripts/validations/RequisitionValidation.js")'></script>
<script src="@Url.Content("~/Scripts/Requisition.js")"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<script>

    //function checkForm() {
    //    var bool = $('#formId').valid();
    //    if (bool) {
    //        infoOpenPopup();
    //    }
    //}

    function exportToPdf() {
        const actionButtons = document.querySelectorAll('.purchase-action-style');
        actionButtons.forEach(button => button.style.display = 'none');


        const element = document.querySelector('#myTable');
        const options = {
            margin: [0, 0, 0, 0],
            filename: 'invoice.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' },
            // Add header option
            header: {
                height: '1cm',
                contents: '<div id="header"><img id="logo" src="~/images/LogoNameFull.png"></div>',
                onBeforeParse: (pdf, doc, pages, callback) => {
                    const header = document.getElementById('header');
                    const logo = document.getElementById('logo');
                    callback(header);
                }
            }
        };
        html2pdf()
            .set(options)
            .from(element)
            .save()
            .then(() => {
                // Show action buttons again after exporting
                actionButtons.forEach(button => button.style.display = 'block');
            });
    }

</script>
<script>

    window.onload = function () {
        GetAll();
        GetAllEmployee();
        GetAllItem();
        localStorage.setItem('increment', null);
        let success = localStorage.getItem("success");
        if (success == "true") {
            openPopup();
        }
        localStorage.setItem("success", "false");
    }

    function userSortFunction() {
        document.getElementById("purSortDropdown").classList.toggle("purchase-sort-show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.purchase-sort-btn')) {
            var myDropdown = document.getElementById("purSortDropdown");
            if (myDropdown.classList.contains('purchase-sort-show')) {
                myDropdown.classList.remove('purchase-sort-show');
            }
        }
    }

    // SCRIPT FOR NOTIFICATION
    function openForm() {
        document.getElementById("notifForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("notifForm").style.display = "none";
    }

    function viewOpenForm() {
        document.getElementById("viewForm").style.display = "block";
    }

    function viewCloseForm() {
        document.getElementById("viewForm").style.display = "none";
    }


    let addpopuppur = document.getElementById("add-popup-pur");
    function addOpenPopupPur() {
        addpopuppur.classList.add("add-popup-pur-show")
        document.getElementById("formType").value = "add";
    }

    function addClosePopupPur() {
        addpopuppur.classList.remove("add-popup-pur-show")
    }

    let infopopup = document.getElementById("info-popup");
    function infoOpenPopup() {
        infopopup.classList.add("info-popup-show")
    }

    function infoClosePopup() {
        infopopup.classList.remove("info-popup-show")
    }

    let popup = document.getElementById("popup");

    function openPopup() {
        popup.classList.add("open-popup-show")
    }

    function closePopup() {
        popup.classList.remove("open-popup-show")
    }

    let canpopup = document.getElementById("can-popup");

    function canOpenPopup() {
        canpopup.classList.add("can-popup-show")
    }

    function canClosePopup() {
        canpopup.classList.remove("can-popup-show")
    }

    let rempopup = document.getElementById("rem-popup");

    function remOpenPopup() {
        rempopup.classList.add("rem-popup-show")
    }

    function remClosePopup() {
        rempopup.classList.remove("rem-popup-show")
    }

    let printpopup = document.getElementById("print-popup");

    function printOpenPopup() {
        printpopup.classList.add("print-popup-show")
    }

    function printClosePopup() {
        printpopup.classList.remove("print-popup-show")
    }

    let expopopup = document.getElementById("expo-popup");

    function expoOpenPopup() {
        expopopup.classList.add("expo-popup-show")
    }

    function expoClosePopup() {
        expopopup.classList.remove("expo-popup-show")
    }
</script>

